# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel MAYHEM

# Balance (default profile)
on property:persist.spectrum.profile=0
    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor impulse
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 19584000
    write /sys/devices/system/cpu/cpufreq/impulse/go_hispeed_load 95
    write /sys/devices/system/cpu/cpufreq/impulse/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpufreq/impulse/timer_rate 60000
    write /sys/devices/system/cpu/cpufreq/impulse/hispeed_freq 652800
    write /sys/devices/system/cpu/cpufreq/impulse/timer_slack 480000
    write /sys/devices/system/cpu/cpufreq/impulse/min_sample_time 0
    write /sys/devices/system/cpu/cpufreq/impulse/bootpulse_duration 0
    write /sys/devices/system/cpu/cpufreq/impulse/use_migration_notif 1
    write /sys/devices/system/cpu/cpufreq/impulse/use_sched_load 0
    write /sys/devices/system/cpu/cpufreq/impulse/boost 1
    write /sys/devices/system/cpu/cpufreq/impulse/align_windows 1
    write /sys/devices/system/cpu/cpufreq/impulse/max_freq_hysteresis 0
    write /sys/module/msm_performance/parameters/touchboost 1
    write /sys/module/workqueue/parameters/power_efficient Y

    # GPU
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor msm-adreno-tz
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/min_freq 133000000
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/max_freq 650000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/scheduler maple

# Performance
on property:persist.spectrum.profile=1
    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/impulse/go_hispeed_load 80
    write /sys/devices/system/cpu/cpufreq/impulse/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpufreq/impulse/timer_rate 40000
    write /sys/devices/system/cpu/cpufreq/impulse/hispeed_freq 960000
    write /sys/devices/system/cpu/cpufreq/impulse/timer_slack 480000
    write /sys/devices/system/cpu/cpufreq/impulse/min_sample_time 50000
    write /sys/devices/system/cpu/cpufreq/impulse/boost 1
    write /sys/devices/system/cpu/cpufreq/impulse/align_windows 0
    write /sys/devices/system/cpu/cpufreq/impulse/max_freq_hysteresis 0
    write /sys/module/msm_performance/parameters/touchboost 1
    write /sys/module/workqueue/parameters/power_efficient N

    # GPU
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor msm-adreno-tz
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/min_freq 133000000
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/max_freq 650000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/scheduler anxiety

# Battery
on property:persist.spectrum.profile=2
    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor blu_schedutil
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1689600
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_schedutil/down_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_schedutil/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_schedutil/up_rate_limit_us 5000
    write /sys/devices/system/cpu/cpufreq/impulse/boost_count 6
    write /sys/devices/system/cpu/cpufreq/impulse/boost_ceiling 12
    write /sys/devices/system/cpu/cpufreq/impulse/freq_step 6
    write /sys/devices/system/cpu/cpufreq/impulse/down_threshold 70
    write /sys/devices/system/cpu/cpufreq/impulse/down_threshold_suspended 85
    write /sys/devices/system/cpu/cpufreq/impulse/up_threshold 75
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/module/workqueue/parameters/power_efficient Y

    # GPU
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor msm-adreno-tz
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/min_freq 133000000
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/max_freq 510000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 510000000

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/scheduler bfq

# Gaming
on property:persist.spectrum.profile=3
    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpufreq/impulse/go_hispeed_load 80
    write /sys/devices/system/cpu/cpufreq/impulse/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpufreq/impulse/timer_rate 40000
    write /sys/devices/system/cpu/cpufreq/impulse/hispeed_freq 960000
    write /sys/devices/system/cpu/cpufreq/impulse/timer_slack 480000
    write /sys/devices/system/cpu/cpufreq/impulse/min_sample_time 50000
    write /sys/devices/system/cpu/cpufreq/impulse/boost 1
    write /sys/devices/system/cpu/cpufreq/impulse/align_windows 0
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/module/msm_performance/parameters/touchboost 1
    write /sys/module/workqueue/parameters/power_efficient N

    # GPU
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor performance
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/min_freq 133000000
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/max_freq 650000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/scheduler bfq
